<footer class="footer">
  <div class="container">
    <div class="columns twelve">
      <!-- <a href="http://blog.lrevg.com">Blog</a> -->

      <ul class="soc">
        <li><a class="soc-twitter" href="https://twitter.com/chuckbergeron"></a></li>
        <li><a class="soc-facebook" href="https://www.facebook.com/CharlesElleryAB"></a></li>
      </ul>

      <p class="copyright">
        &copy; <span class="copyright-year"></span> <a href="http://lrevg.com">Chuck Bergeron</a> &mdash; <a href="mailto:chuck@lrevg.com">chuck@lrevg.com</a>
      </p>
    </div>
  </div>
</footer>
