<footer class="footer">
  <div class="container">
    <div class="columns twelve">
      <!-- <a href="http://blog.lrevg.com">Blog</a> -->


      <!-- <h6>
        <a href="https://soundcloud.com/lrevg">Listen on SoundCloud</a> -- <a href="https://lrevg.bandcamp.com/">Listen on Bandcamp</a>
      </h6> -->

      <!-- <ul class="soc">
        <li><a class="soc-twitter" href="https://twitter.com/chuckbergeron"></a></li>
        <li><a class="soc-facebook" href="https://www.facebook.com/CharlesElleryAB"></a></li>
      </ul> -->

      <p class="copyright">
        &copy; <span class="copyright-year"></span> <a href="http://lrevg.com">LRE VG Interactive</a> - <a href="mailto:chuck@lrevg.com">email</a>
      </p>
    </div>
  </div>
</footer>
