{% include _doctypes.html %}
<html lang="en-us">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# business: http://ogp.me/ns/business#">
    <title>LREVG Interactive, creators of unique gaming experiences</title>

    {% include _shared_head.html %}

    <meta name="description" content="LREVG Interactive, creators of unique gaming experiences.">
    <meta property="og:description" content="LREVG Interactive, creators of unique gaming experiences.">
    <meta name="keywords" content="videogames games indie indiedev gamedev">

    <meta property="og:title" content="LREVG Interactive, creators of unique gaming experiences.">

    <meta name="author" content="lrevg.com">
    <meta name="copyright" content="Chuck Bergeron">

    <meta property="og:site_name" content="chuckbergeron">
    <meta property="og:url" content="http://lrevg.com{{ page.url | replace: 'index.html', ''}}">
    <meta property="og:type" content="business.business">

    <meta property="og:image" content="http://lrevg.com/images/chuckbergeron-symbol-large-200x200-gray.png">
    <meta property="business:contact_data:street_address" content="280 Nelson St - Suite #523">
    <meta property="business:contact_data:locality" content="Vancouver, BC">
    <meta property="business:contact_data:postal_code" content="V6B 2E2">
    <meta property="business:contact_data:country_name" content="Canada">

    <meta property="twitter:card" content="summary" />
    <meta property="twitter:site" content="@chuckbergeron" />
    <meta property="twitter:image" content="http://lrevg.com/images/chuckbergeron-symbol-large-200x200.png">
    <meta property="twitter:url" content="http://lrevg.com">

    <link rel="alternate" type="application/atom+xml" href="http://blog.lrevg.com/index.xml" title="LREVG. Music and Videogames. atom feed">

    {% include _typekit_embed_code.html %}
  </head>
  <body>
    {% include _header_and_logo.html %}

    {{ content }}

    {% include _site_footer.html %}

    {% javascript application %}
    {% include _google_tag_manager.html %}
  </body>
</html>
